<% content_for :controls do %>
	<ul>
		<%= control_link('Podcasts', admin_podcasts_path) %>
		<%= control_link('New Podcast', new_admin_podcast_path) %>
	</ul>
<% end %>

<table cellspacing="0">
	<thead>
		<tr>
			<th width="80%">Title</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @podcasts.each do |podcast| %>
		<tr>
			<td>
				<%= podcast.title %>
			</td>
			<td>
				<%= link_to 'Edit', edit_admin_podcast_path(podcast) %>&nbsp;
				<%= link_to 'Delete', admin_podcast_path(podcast), :method => :delete, :confirm => 'Are you sure?' %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate @podcasts %>